# 环境变量配置
DB_NAME=test_platform
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306

SECRET_KEY=django-insecure-8!67b^9z#^4=ps5yd-aq2!j03h)47kvxvrbqm0h*!v66&p9(pf)
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Celery配置
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# 管理员账号
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@example.com
